
body {
	background-color: #95CBE8;
}
#header {
	color: black;
	font-size: 25px;
	font-family: Georgia;
	text-align: center;
	top: 10%;
}
.btnforwards {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	background-color: #FDFDFD;
	border: 2px solid #E8E8E8;
	transition: background-color 0.25s;
	font-family: Georgia;
	font-size: 18px;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -200%);
    transform: translate(-50%, -200%);
}
.btnforwards:hover {
		background-color: #E8E8E8;

}
.btnbackwards{
	width: 150px;
	height: 50px;
	border-radius: 30px;
	background-color: #FDFDFD;
	border: 2px solid #E8E8E8;
	transition: background-color 0.25s;
	font-family: Georgia;
	font-size: 18px;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}
.btnbackwards:hover {
		background-color: #E8E8E8;

}
.btnright {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	background-color: #FDFDFD;
	border: 2px solid #E8E8E8;
	transition: background-color 0.25s;
	font-family: Georgia;
	font-size: 18px;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(65%, -50%);
    transform: translate(65%, -50%);
}

.btnright:hover {
		background-color: #E8E8E8;

}
.btnleft {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	background-color: #FDFDFD;
	border: 2px solid #E8E8E8;
	transition: background-color 0.25s;
	font-family: Georgia;
	font-size: 18px;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-165%, -50%);
    transform: translate(-165%, -50%);
}
.btnleft:hover {
		background-color: #E8E8E8;
}
.btnstop {
	width: 150px;
	height: 50px;
	border-radius: 30px;
	background-color: #FDFDFD;
	border: 2px solid #D82222;
	transition: background-color 0.25s;
	font-family: Georgia;
	font-size: 18px;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btnstop:hover {
		background-color: #D82222;
}